body, html {
  margin: 0px !important;
  padding: 0px !important;
  font-family: 'Varela Round', sans-serif !important;
  background: #fff;
  font-size: 13px;
  color: #858C9D;
  position: relative;
}

.bg{
  position: absolute;
  left: 0px;
  right: 40%;
  bottom: 0px;
  height: 40%;
  background: #F9F9FB;
  z-index: -1;
}


