.header{
    background: #1F2532;
    color: #6F737E;
    /*margin-top: -15px !important;*/
    height: 50px;
    padding: 0px;
}

.header ul.header-left-list{
    margin: 0px;
    padding: 0px;
    padding-top: 16px;
}

.header ul.header-left-list li{
    display: inline;
    margin-right: 30px;
}

.header ul.header-left-list li a{
    font-size: 10px;
    color: #858C9D;
    letter-spacing: 1px;
}

.header ul.header-left-list li a.active{
    color: #ffffff;
}

.header .header-right-list{
    margin: 0px;
    padding: 0px;
    top: -10px;
}
